---
---

@import "{{ site.theme }}";

header {
  display: none;
}
footer {
  display: none;
}
body {
  background-color: rgb(242, 242, 242);
  background: rgb(242, 242, 242);
}
#main_content_wrap {
  border-top: rgb(242, 242, 242);
  border-bottom: rgb(242, 242, 242);
}
